.hero-wrapper{
    color: white;
    position: relative;
    padding: 130px 0;
    /* background: var(--primary); */
}

.hero-container{
    justify-content: space-around;
    align-items: flex-end;
}

/* left side */
.hero-left{
    gap: 3rem;
}
.hero-title{
    position: relative;
    z-index: 1;
}
.orange-circle{
    height: 4rem;
    width: 4rem;
    background: rgba(255, 255, 0, 0.97);
    border-radius: 999px;
    position: absolute;
    right: 50%;
    top: -10%;
    z-index: -1;
}
Link{
    text-decoration: none;
}
.button link{
    text-decoration: none;
}

.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.stats{
    width: 100%;
    justify-content: space-between;
}
.stat>:nth-child(1){
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: rgba(255, 255, 0, 0.97);
}

@media (max-width: 640px) {
    .hero-container{
        margin-top: 2rem;
    }
    .hero-title>h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .image-container{
        width: 95%;
        height: 25rem;
    }
    .stats{
        justify-content: center;
        gap: 1.5rem;
    }
    .stat>:nth-child(1){
        font-size: 1.5rem;
    }
    .stat>:nth-child(2){
        font-size: 0.8rem;
    }
}
/* .hero-block {
    margin: 65px 0 0;
  } */
    .hero-block .carousel-item:before {
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

    .hero-block .carousel-item img {
    width: 100%;
}

    .hero-block .carousel-caption {
    left: 25%;
    right: 25%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    bottom: 50%;
}

    .hero-block p {
    margin: 0 0 30px;
}

